html,
body {
    height: 100%;
    background-image: url('../images/bg/body-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
}

#fullpage .section {
    overflow: hidden;
}


/* 1.首页样式 */

.home {}


/* 1.1首页背景层 */

.home .home-bgs {}

.home .home-bgs .home-bg {
    z-index: -99;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 2s;
    background-repeat: no-repeat;
    background-position: center;
    /* 小屏幕下用bg-size */
    /* background-size: auto 100%; */
    opacity: 0;
}

.home .home-bgs .current {
    opacity: 1;
}

.home .home-bgs .bg1 {
    background-image: url('../images/bg/home-bg1.jpg')
}

.home .home-bgs .bg2 {
    background-image: url('../images/bg/home-bg2.jpg')
}

.home .home-bgs .bg3 {
    background-image: url('../images/bg/home-bg3.jpg')
}


/* 1.2首页内容层 */

.home-mask {
    position: relative;
    max-width: 540px;
    padding: 40px 0;
    margin: 0 auto;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.3);
    text-align: center;
    cursor: default;
    transition: all 0.5s;
}

.home-mask:hover {
    transform: translate(-5px, -5px);
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}


/* 1.2.1个人简单信息 */

.home-mask .avatar img {
    border-radius: 50%;
}

.home-mask .name {
    margin-top: 10px;
    font-size: 25px;
}

.home-mask h5 {
    margin-top: 10px;
    padding-bottom: 15px;
    font-size: 18px;
    border-bottom: 2px solid #000000;
}

.home-mask .email {
    margin-top: 12px;
    font-size: 18px;
}

.home-mask .email .icon-email {
    vertical-align: middle;
    margin-right: 4px;
    font-size: 22px;
}

.home-mask .email span {
    vertical-align: middle;
}


/* 1.2.2联系方式图标 */

.home-mask .contact-icon {
    display: inline-block;
    width: 20%;
    margin-top: 10px;
    font-size: 20px;
}

.home-mask .contact-icon i,
.home-mask .contact-icon a {
    display: inline-block;
    padding: 6px 10px;
    cursor: pointer;
    color: #000000;
    transition: all 0.5s;
}

.home-mask .contact-icon i:hover {
    transform: scale(1.5, 1.5);
}


/* 1.2.2.1与联系方式图标关联的二维码及说明信息 */

.home-mask .contact-icon img {
    position: absolute;
    bottom: 90px;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-height: 340px;
    border-radius: 40px;
    transition: all 0.6s;
    transform: scale(0, 0);
}

.home-mask .contact-icon span {
    position: absolute;
    bottom: 18px;
    left: 0;
    right: 0;
    margin: 0 auto;
    transition: all 0.6s;
    opacity: 0;
}

.home-mask .contact-icon i:hover+img,
.home-mask .contact-icon i:hover+img+span,
.home-mask .contact-icon a:hover+span {
    transform: scale(1, 1);
    opacity: 1;
}


/* 2.技技能栈 */

.skills {
    text-align: center;
    cursor: default;
}

.skills .skills-wrap {
    max-width: 800px;
    margin: 0 auto;
}

.skills .skills-wrap .content {
    padding: 0 10px;
}


/* 2.1技能栈标题 */

.skills .skills-wrap .content .title {
    display: inline-block;
    background-color: #47b3e6;
    padding: 8px 40px;
    border: 4px solid#fff;
    border-radius: 10px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 26px;
    transition: all 1s ease-out;
    transform: translate(0, -300px);
    opacity: 0;
}

.active .skills-wrap .content .title {
    transform: translate(0, 0);
    opacity: 1;
}


/* 2.2技能栈内容 */

.skills .skills-wrap .content .items {
    margin-top: 20px;
}

.skills .skills-wrap .content .items li {
    position: relative;
    display: inline-block;
    width: 220px;
    height: 44px;
    margin: 10px 14PX;
    background-color: #3fc0e0;
    border: 2px solid #fff;
    border-radius: 10px;
    transition: all 0.6s linear 0.5s;
    transform: scale(0, 1);
    opacity: 0;
}

.skills .skills-wrap .content .items li:hover {
    transition: all 0.5s;
    transform: translate(-3px, -3px);
    background-color: #3fc0e0;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.3);
}

.active .skills-wrap .content .items li {
    transform: scale(1, 1);
    opacity: 1;
}

.skills .skills-wrap .content .items li span {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: #fff;
    font-size: 20px;
    line-height: 44px;
    transition: all 0.5s;
}

.skills .skills-wrap .content .items li:hover span {
    transform: scale(1.3, 1.3);
}


/* 3.作品 */

.project {}

.project .project-wrap {
    max-width: 800px;
    margin: 0 auto;
    text-align: center
}


/* 3.1个人作品标题 */

.project .project-wrap .title {
    display: inline-block;
    background-color: #ba6208;
    margin-bottom: 20px;
    padding: 8px 40px;
    border: 4px solid#fff;
    border-radius: 10px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 26px;
    transition: all 1s ease-out;
    transform: translate(0, -300px);
    opacity: 0;
}

.active .project-wrap .title {
    transform: translate(0, 0);
    opacity: 1;
}


/* 3.2个人作品内容 */

.project .project-wrap .content {}

.project .project-wrap .content .demo {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    width: 300px;
    height: 300px;
    margin: 5px 30px;
    padding: 20px;
    border: 4px solid #fff;
    border-radius: 10px;
    vertical-align: top;
    overflow: hidden;
    transition: all 0.6s linear 0.5s;
}

.project .project-wrap .content .demo:hover {
    transition: all 0.5s;
    transform: scale(1.05);
}

.project .project-wrap .content .demo-vue {
    background-color: #41b883;
    transform: translate(-100%, 0);
    opacity: 0;
}

.project .project-wrap .content .demo-weijinsuo {
    background-color: #e9232c;
    transform: translate(100%, 0);
    opacity: 0;
}

.active .project-wrap .content .demo-vue,
.active .project-wrap .content .demo-weijinsuo {
    transform: translate(0, 0);
    opacity: 1;
}


/* 3.2.1 demo描述 */

.project .content .demo .detail {
    color: #fff;
    transition: all 1s linear 0.5s;
}

.project .project-wrap .content .demo:hover .detail {
    opacity: 0;
}

.project .content .demo .detail .name {
    padding-bottom: 12px;
    border-bottom: 3px solid #fff;
    font-size: 20px;
}

.project .content .demo .detail .icon {
    margin-top: 20px;
    font-size: 130px;
}

.project .content .demo .detail .description {
    margin-top: 10px;
}


/* 3.2.2 demo链接遮罩层 */

.project .content .demo .mask {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 20px;
    color: #fff;
    transition: all 1s linear 0.5s;
    opacity: 0;
}

.project .project-wrap .content .demo:hover .mask {
    opacity: 1;
}

.project .content .demo .mask p {
    font-size: 20px;
}

.project .content .demo .mask img {
    width: 70%;
    margin-top: 10px;
}

.project .content .demo .mask .link {
    margin-top: 10px;
    padding-top: 14px;
    border-top: 3px solid #fff;
}

.project .content .demo .mask .link a {
    padding: 0 14px;
    border: 2px solid #fff;
    border-radius: 10px;
    color: #fff;
    font-size: 18px;
}

.project .content .demo .mask .link a:hover {
    background-color: rgba(0, 0, 0, 0.3);
}


/* 4.联系方式 */

.contact {}


/* 4.1联系方式主体部分 */

.contact .contact-wrap {
    max-width: 600px;
    margin: 0 auto;
}

.contact .contact-wrap .content {
    margin: 0 10px;
    padding: 30px 0;
    border-radius: 20px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.3);
    transition: all 1s ease-in;
    transform: translate(0, -100%);
    opacity: 0;
    cursor: default;
}

.active .contact-wrap .content {
    transform: translate(0, 0);
    opacity: 1;
}

.contact .contact-wrap .content:hover {
    transition: all 0.5s;
    transform: translate(-5px, -5px);
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}

.contact .contact-wrap .content .title {
    padding-bottom: 20px;
    border-bottom: 2px solid #000;
    font-size: 26px;
}

.contact .contact-wrap .content ul {
    margin-top: 20px;
}

.contact .contact-wrap .content ul li {
    line-height: 30px;
    font-size: 20px;
}

.contact .contact-wrap .content ul li .icon {
    vertical-align: middle;
    font-size: 22px;
}

.contact .contact-wrap .content ul li .text {
    vertical-align: middle
}


/* 4.2页脚部分 */

.contact .footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 26px;
    width: 100%;
    text-align: center;
    line-height: 26px;
    font-size: 10px;
    background-color: rgba(255, 255, 255, 0.3);
}

.contact .footer a {
    color: #333838;
}